@import url("https://fonts.googleapis.com/css?family=Caveat+Brush|Hi+Melody&display=swap");

:root {
  --gap: 10px;
  --border-radius: 2px;
  --thumb-size: 200px;
}

html,
body {
  background-color: #222;
  margin: 0px;
}

.container {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--thumb-size), 1fr));
  /* grid-template-rows: minmax(var(--thumb-size), 1fr); */
  grid-auto-rows: var(--thumb-size);
  margin: var(--gap);
}

.card {
  margin: 0;
  padding: 0;
  border: var(--border-radius) solid rgba(137, 146, 146, 0.897);
}

.card-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.88;
}

.card-thumb:hover,
.card-thumb:active {
  opacity: 1;
}

.my-box {
  margin-left: 1em;
  font-size: 1.5rem;
  font-family: "Hi Melody", "Courier New", Courier, monospace;
  color: whitesmoke;
  /* margin: 0 auto; */
  /* background: blue; */
  /* padding: 1em; */
}
