@import url("https://fonts.googleapis.com/css?family=Caveat+Brush|Hi+Melody&display=swap");

:root {
  --gap: 40px;
  --border-width: 5px;
  --thumb-size: 200px;
}

html,
body {
  background-color: rgb(49, 31, 53);

  margin: 0px;
  padding: 0;
}

.title {
  padding: 0;
  margin: 0.4em 0.6em;
  font-size: 4rem;
  font-family: "Hi Melody", "Courier New", Courier, monospace;
  color: whitesmoke;
}

.container {
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--thumb-size), 1fr));
  grid-auto-rows: var(--thumb-size);
  margin: 0 calc(var(--gap) * 1.5);
  position: absolute;
}

.card {
  margin: 0;
  padding: 0;
  position: relative;
}

.card-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.88;
  border: var(--border-width) solid whitesmoke;
  border-radius: 3%;
  box-shadow: calc(var(--border-width) * 2) calc(var(--border-width) * 2)
    var(--border-width) var(--border-width) #1d1d1d;
}

.card-thumb:hover,
.card-thumb:active {
  transform: scale(1.02);
  border: calc(var(--border-width) * 1.5) solid rgb(78, 255, 255);
  box-shadow: 0 0 0;
}

.card-thumb:hover .card-info {
  opacity: 1;
  background: green;
  z-index: 99;
}

.card-info {
  opacity: 1;
  background: yellow;
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.card-info:hover,
.card-info:active {
  display: inline-block;
}

.card-title {
  background: white;
  margin-left: 10px;
}

#canvas {
  position: absolute;
}

@media (max-width: 500px) {
  .title {
    font-size: 2.2rem;
  }
}
