<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="../../lib/d3.min.js"></script> <!-- d3.js v5 -->
</head>
<style>
  input {
    display: grid;
  }
</style>


<body>
  <div class="settings">
      <label>Number of rows: {{ rows }} <input type="range" min="1" max="40" step="1" v-model="rows"></input></label>
      <label>Circle radius: {{ circleRadius }} <input type="range" min="1" :max=maxPadding step="1" v-model="padding"></input></label>
  </div>
  
  
  <script type="text/javascript">
    var settings = new Vue({
      el: '.settings',
      data: {
        width: 700,
        height: 700,
        rows: 10,
        padding: 2
      },
      computed: {
        maxPadding: function() {
          return Math.round(this.width/(this.rows))
        },
        paddingPercent: function() {
          return (this.padding / this.maxPadding);
        },
        circleRadius: function() {
          let formatPercent = d3.format(".1%");
          return formatPercent(1 - this.paddingPercent);
        }
      }
    }) 
  </script>
  <script type="text/javascript">
    let width, height;
    let rows;
    let r,g,b;

    function setup() {
      width = 700;
      height = 700;

      rows = 10;

      createCanvas(width, height);
      setColor(r,g,b);
      background(180);
      drawCircles();
    }

    function draw() {
      background(180);
      drawCircles();
    }

    function setColor() {
      r = random(256);
      g = random(256);
      b = random(256);
    }

    function drawCircles() {
      let padding = 7;
      let diameter = height / settings.rows;
      let radius = diameter / 2;
      for (let x = radius; x < width; x += diameter) {
        for (let y = radius; y < height; y += diameter) {
          fill("#99E2FF");
          strokeWeight(2)
          ellipse(x, y, diameter - settings.padding, diameter - settings.padding);
        }
      }
    }
  </script>
</body>

</html>